.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  background: #ff4c68;
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 28px;
  font-weight: bold;
}

.App-link:hover {
  background: #ffffff;
  color: #ff4c68;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
